<script setup>
import Header from "./components/Header.vue";
import Main from "./components/main.vue"
import { reactive, ref } from "vue";

const nama = ref("milfin");
//page1 , page2 , page3
const page = ref ("page1");


const mode = ref("app");
const selected = ref(null);
const todo = ref(null);

function createtodo() {
  if (todos.mode === "add"){
    if(todos.form.trim()){
      todos.data.unshift({
      id: Math.random(),
      title: todos.form,
      completed: false,
      
    })
    todos.form = "";
  }
  } else {
    if (validateTodo()) {
      //mencari index dari todos.data yg akan di edit
      const index = todos.data.findIndex((e) => e.id === todos.selected.id);
      todos.data[index].title = todos.form;
      todos.form = null;
      todos.selected = null;
      todos.mode = "add";
    }
  }
}
function validateTodo() {
  return todos.form.trim();
}


const todos = reactive({
  data: JSON.parse(localStorage.getItem("todos") || "[]"),
  // [
  //   {
  //   id:1,
  //   title:"belajar vue",
  //   completed:false,
  // },
  // {
  //   id: 2,
  //   title: "belajar react",
  //   completed: true,
  // },
  // {
  // id: 3,
  // title: "belajar angular",
  // completed: true,
  // }]
  form: null,
  selected: null,
  mode: "add",
  search: null,
  page: "page1"
});
function cheklist(id){
  if (todos[id].completed){
    todos[id].completed=false;
  }else{
    todos[id].completed=true
  }
}
function chekdelet(id){
  todos.data.splice(id, 1);
}
setTimeout(()=>{
  nama.value= "etes";
},2000);


</script>

<template>
  {{todos.form}}
  <form @submit.prevent="createtodo">
    <input type="text" v-model="todos.form" placeholder="todo">
    <button type="submit">📰{{ todos.mode == "add" ? "simpan" : " edit" }}</button>
  </form>
  <div v-if="todos.page === 'page1'" class="container" style="background-color: blue;">
    <!-- <Header />
    <Header nama="sem" />
    <Main /> -->
    <h3>All tolos</h3>
    <h3>{{ nama }}</h3>
    <!--Todo-->
    <ul v-for="(item, index) in todos.data" :key="item.id">
      <!-- memanggil reactive -->
      <!-- <li>{{item.title}}</li> -->

      <!-- cara simpelnya -->
      <!-- item.completed = ! item.completed -->
      <!-- cheklist(id) -->
      <li @click="item.completed = !item.selected" :style="{'text-decoration': item.completed ? `line-through` : `none`}">{{item.title}}</li>
      <button @click="chekdelet(id)">✂ delete</button>
      <button style="margin-right: 10px"
        @click="
          todos.mode = 'edit';
          todos.selected = item;
          todos.form = item.title;
        ">🐒 edit</button>
      <!--mengambil trus atau false-->
      <!-- <li v-if="!item.completed">{{item.title}}</li> -->
    </ul>
  </div>
  <div v-if="todos.page === 'page2'" class="container">
    <!-- <Header />
      <Header nama="sem" />
      <Main /> -->
      <h3>completed tolos</h3>
    <h3>{{ nama }}</h3>
    <!--Todo-->
    <ul v-for="item in todos.data" :key="item.id">
      <!--mengambil trus atau false-->
      <li @click="cheklist(index)" :class="item.completed ? 'completed' :''">
      
      {{item.title}}
      
      </li>
    </ul>
  </div>
  <div v-if="todos.page === 'page3'" class="container">
      <h3>uncompleted tolos</h3>
    <h3>{{ nama }}</h3>
    <ul v-for="item in todos.data" :key="item.id">
      <li v-if="!item.completed">
        {{item.title}}
      </li>
    </ul>
  </div>
<button @click="todos.page = 'page1'" :class="todos.page === 'page1' ? 'active' : ''">All tolos</button>
<button @click="todos.page = 'page2'" :class="todos.page === 'page2' ? 'active' : ''">completed tolos</button>
<button @click="todos.page = 'page3'" :class="todos.page === 'page3' ? 'active' : ''">uncompleted tolos</button>
</template>

<style>
.active{
  background-color: blueviolet;
}
</style>